html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
#root {
  height: 100%;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
.scrollbars-visible-always {
  ::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
  }
}

.mainpage {
  background: #5f6ccc;
  width: 100%;
  height: 889px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main_container {
  width: 80%;
  display: block;
  margin: auto;
}
.button_container {
  width: 360px;
  height: 90px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  display: flex;
  position: relative;
  bottom: 10px;
  z-index: 3;
}
.download_button {
  display: inline-block;
  width: 326px;
  height: 60px;
  background-color: #fbfcfd;
  border-radius: 5px;
  color: #5f6ccc;
  font-size: 18px;
  font-weight: bold;
  border-right-style: none;
  position: absolute;
  border: 1px solid #5f6ccc;
  outline: 0;
}
.down_href {
  width: 326px;
  height: 60px;
  position: absolute;
  z-index: 1;
}

.logocontainer {
  height: 120px;
  padding-top: 60px;
}
.App-logo {
  width: 97px;
  height: 31px;
  margin: auto;
}
.App-name {
  text-align: center;
  font-size: 10px;
  letter-spacing: 0.2px;
  color: #fffefe;
  font-weight: lighter;
}
.image_container {
  width: 100%;
  height: 610px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.iphone_image {
  width: 254px;
  height: 512px;
  display: block;
  margin: auto;
  position: absolute;
  animation: 1.5s changeImg ease-in-out;
}
.main_image {
  position: absolute;
  width: 223px;
  height: 394px;
  display: block;
  margin: auto;
}
.mainContainer {
  position: relative;
  height: 394px;
}
.slideContainer {
  height: 394px;
  border: 0px solid #333;
  min-height: 394px;
}
.slide_image {
  width: 223px;
  height: 394px;
  display: block;
  margin: auto;
  z-index: 2;
}
@keyframes changeImg {
}
.sub_imagecontainer {
  width: 340px;
  height: 420px;
  display: flex;
  position: relative;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.sub_image {
  width: 300px;
  height: 323px;
  display: block;
  position: absolute;
  z-index: 1;
  right: 0;
  margin: auto;
  animation: 2s upupup ease-in-out;
}
.sub_imagecontainer01 {
  width: 370px;
  height: 440px;
  display: flex;
  position: relative;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.sub_image01 {
  width: 400;
  height: 376px;
  display: block;
  position: absolute;
  z-index: 1;
  margin-left: 30px;
  bottom: 0;
}
.sdw_image {
  width: 375px;
  height: 693px;
  display: block;
  margin: auto;
  padding-top: 50px;
  position: absolute;
}
.main_slogan {
  font-family: "Noto Sans CJK KR";
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  width: 100%;
  line-height: 50px;
  font-size: 32px;
  font-weight: normal;
  color: #fffefe;
  letter-spacing: 0px;
}
.sub_slogan {
  font-family: "Noto Sans CJK KR";
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  width: 100%;
  line-height: 50px;
  font-size: 30px;
  font-weight: 400;
  color: #333333;
}
.sub_slogan1 {
  font-family: "Noto Sans CJK KR";
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  width: 100%;
  line-height: 50px;
  font-size: 32px;
  font-weight: 400;
  color: #333333;
}
.explanation {
  font-family: "Noto Sans CJK KR";
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  width: 100%;
  line-height: 45px;
  font-size: 18px;
  font-weight: bold;
  color: #5f6ccc;
  letter-spacing: -2px;
}
.explanation1 {
  font-family: "Noto Sans CJK KR";
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  width: 100%;
  line-height: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #5f6ccc;
  letter-spacing: -2px;
}

.sub_page {
  width: 100%;
  height: 620px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sub_page1 {
  width: 100%;
  height: 700px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sub_container {
  width: 80%;
  display: flex;
  margin: auto;
  height: 210px;
  padding-top: 95px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.radar {
  width: 370px;
  height: 143px;
  background-color: #c0395f;
  position: absolute;
  margin: auto;
  z-index: 1;
  border-radius: 50%;
  opacity: 0.1;
  animation: 1.5s sizedown ease-in-out infinite;
}
.hindenpage {
  z-index: 5;
  position: absolute;
  width: 370px;
  height: 47px;
  bottom: 0;
  border-top: solid 1px #fffefe;
  background-color: white;
}
.radar-middle {
  width: 109px;
  height: 43px;
  background-color: #c0395f;
  position: absolute;
  margin: auto;
  z-index: 2;
  border-radius: 50%;
  opacity: 0.2;
  animation: 1.5s sizedown ease-in-out infinite;
}
.radar-center {
  width: 31px;
  height: 12px;
  background-color: #c0395f;
  position: absolute;
  margin: auto;
  z-index: 3;
  border-radius: 50%;
  opacity: 0.4;
}
.location_point {
  width: 51px;
  height: 135px;
  position: absolute;
  margin: auto;
  z-index: 4;
  padding-bottom: 70px;
}
.location_container {
  width: 51px;
  height: 90px;
  position: absolute;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.detail {
  width: 100%;
  height: 526px;
  margin: auto;
  background-color: #f5f5f5;
}
.detail_logo_container {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 120px;
  padding-top: 50px;
}
.detail_logo {
  width: 106px;
  height: 34px;
  margin: auto;
}
.detail_main {
  width: 100%;
  height: 400px;
}
.detail_container {
  width: 340px;
  margin: auto;
}
.detail_name {
  font-size: 16px;
  color: #666666;
  font-weight: 900;
  line-height: 50px;
}
.detail_sub {
  font-size: 16px;
  color: #666666;
  font-weight: 500;
  line-height: 30px;
}
.detail_blank {
  height: 50px;
  weight: 100%;
}
.detail_button_container {
  width: 350px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}
.detail_button {
  display: block;
  margin: auto;
  width: 170px;
}
@keyframes sizedown {
  from {
    transform: none;
  }
  to {
    transform: scale(0.5, 0.5);
  }
}

@keyframes upupup {
  from {
    margin-top: 15%;
  }
  to {
    margin-top: 0%;
  }
}
